The inputs are {{a}} and {{b}}
{% if a > b %}
The larger number is {{a}}
{% else %}
the larger number is {{b}}
{% endif %}
{% for eachchar in mystring %}
 this is {{ eachchar}}
{% endfor %}
{% for eachpkg in mylist }
the packages are {{eachpkg}}
{% endfor %}
